[mysqld]
#skip-locking
#set-variable        = key_buffer=16K
#set-variable        = max_allowed_packet=1M
#set-variable        = thread_stack=64K
#set-variable        = table_cache=4
#set-variable        = sort_buffer=64K
#set-variable        = net_buffer_length=2K
#server-id        = 1
basedir=/wampp2/mysql
#bind-address=192.168.1.1
datadir=/wampp2/mysql/data
tmpdir=/wampp2/tmp
#innodb_data_file_path=ibdata1:30M
#set-variable = innodb_buffer_pool_size=16M
#set-variable = innodb_additional_mem_pool_size=2M
#set-variable = innodb_file_io_threads=4
#set-variable = innodb_lock_wait_timeout=50
#language=/wampp2/mysql/share/your language directory
#slow query log#=
#tmpdir#=
#port=3306
#set-variable=key_buffer=16M

[WinMySQLadmin]
Server=/wampp2/mysql/bin/mysqld.exe